Package: prime-checker
Version: 1.1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: elton <elton@mail.com>
Depends: libc6 (>= 2.31), libstdc++6 (>= 10)
Description: Prime number checker
 Simple console application that checks whether a number is prime.
 Built for DevOps laboratory work.
